p {
    color: rebeccapurple;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.exemplo03 {
    background: rebeccapurple;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}

.exemplo03-box1,
.exemplo03-box2,
.exemplo03-box3,
.exemplo03-box4 {
    background: white;
    width: 80px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

.exemplo03-box2 {
    height: 60px;
    align-items: center;
}