* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}

main {
    background: black;
    height: 270vh;
    width: 100vh;
}

h1 {
    color: white;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
    color: rebeccapurple;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

div {
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.exemplo01 {
    background: rebeccapurple;
    width: 250px;
    height: 100px;
    margin: 0 auto;
}

.exemplo01-box1,
.exemplo01-box2,
.exemplo01-box3,
.exemplo01-box4 {
    background: white;
    width: 80px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}