p {
    color: rebeccapurple;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.exemplo04 {
    background: rebeccapurple;
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.exemplo04-box1,
.exemplo04-box2,
.exemplo04-box3,
.exemplo04-box4 {
    background: white;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
