p {
    color: rebeccapurple;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.exemplo05 {
    background: rebeccapurple;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: center;
}

.exemplo05-box1,
.exemplo05-box2,
.exemplo05-box3,
.exemplo05-box4 {
    background: white;
    width: 80px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
