p {
    color: rebeccapurple;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.exemplo07 {
    background: rebeccapurple;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.exemplo07-box1,
.exemplo07-box2,
.exemplo07-box3,
.exemplo07-box4 {
    background: white;
    width: 40px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.box-01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

