@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

body {
    background:#001F3A;
    width: 100%;
    height: 100%;
    font-family: "Montserrat"
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.logo {
    max-width: 100%;
    height: 106px;
}

.menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color:#fff;
    padding: 0 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: calc(100vh-130px);
}

.card {
    width: 300px;
    height: 500px;
    background:#ffb92f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}

.card h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #001f3a;
}

.card h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 26px;
    color: #001f3a;
}

.card h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #005c91;
}

.card span {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #001f3a;
}

.card-top {
    height: 600px;
    position: relative;
}

.card-icone {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.card-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
}

.card-detalhes-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.card-detalhes-item img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.card-detalhes-item p {
    font-weight: 600;
    color: #005c91;
}

.botao {
    width: 200px;
    background: #00396b;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}


