h1 {
    border: 2px solid #ccc;
    padding: 20px 20px 300px 20px;
}

p {
    background-color: #e7e7e7;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}

.fixo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}