body {
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #010a01;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

.container {
    margin-top: 40vh;
}

.neonText {
    color: #fff;
    text-shadow: 
  /*x(horizontal)   y(vertical)  blur  color  */
    0               0             7px  #fff, 
     0 0 10px #fff,
     0 0 21px #fff,
     0 0 42px #0fa,
     0 0 82px #0fa,
     0 0 102px #0fa,
     0 0 151px #0fa;
}


