:root {
    --heigth: 200px;
    --width: 200px;
    --text-color: white;
    --text-color-2: red;
    /* --border: orange; */
}

body,
html {
    width: 100%;
    height: 100vh;
    background-color: #74777c
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}

div{
    margin: 0 20px 20px 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
}

#primeiro {
    background-color: #fed1f6;
    width: var(--width);
    height: var(--heigth);
    border: 1px solid var(--border);
    padding-top: 80px;
}

#segundo {
    background-color: #475443;
    width: var(--width);
    height: var(--heigth);
    border: 1px solid var(--border);
    padding-top: 80px;
}

#terceiro {
    background-color: #d4afec;
    width: var(--width);
    height: var(--heigth);
    border: 1px solid var(--border);
    padding-top: 80px;
}

#quarto {
    background-color: #24152f;
    color: var(--text-color);
    font-size: var(--font-size);
    width: var(--width);
    height: var(--heigth);
    border: 1px solid var(--border);
    padding-top: 80px;
}

#quinto {
    background-color: #ede3d6;
    color: var(--text-color-2);
    font-size: var(--font-size);
    width: var(--width);
    height: var(--heigth);
    border: 1px solid var(--border);
    padding-top: 80px;
}
