div {
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
}

span {
    background-color: #e7e7e7;
    border: 2px solid black;
    padding: 10px;
    margin: 0;
    position: relative;
    top: -30px;
}