body, html {
    width: 100%;
    height: 100vh;
    background-color: aqua;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#header-id {
    background-color: blue;
    width: 200px;
    height: 200px;
}

/* #header-id p {
    color: red;
    font-size: 24px;
    font-weight: bold;
} */

.text {
    color: brown;
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 15px 0;
    text-align: center;
}

#main-id {
    background-color: pink;
    width: 200px;
    height: 200px;
}

#footer-id {
    background-color: grey;
    width: 200px;
    height: 200px;
}